@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-gray: 200deg 13% 95%;
    --light-blue: 224deg 95% 48%;
    --dark-gray: 0deg 0% 85%;
    --disabled-gray: 201deg 12% 67%;
    --link-blue: 222deg 90% 57%;

    --side-padding: 0 90px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: primary;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: white 5000s ease-in-out 0s;
}

.input-md {
  height: 2.5rem;
}

.btn {
  text-transform: none;
  height: 2.5rem;
  min-height: 2.5rem;
  border-radius: 0.5rem;
  padding: 8px 22px;
  line-height: 0;
}

.btn:focus-visible {
  outline-color: hsl(var(--light-blue));
}

.btn.loading > span {
  color: white;
}

.btn.loading::before {
  border-bottom-color: white;
  border-right-color: white;
  animation: spin 2s linear infinite;
}

.btn-gradient {
  background: linear-gradient(93.08deg, #eb2f96 5.1%, #4a99e9 100%);
  @apply border-0 hover:brightness-110;
}

.btn-outline.btn-accent:hover {
  background-color: white;
  color: hsl(var(--light-blue));
  border-color: hsl(var(--light-blue));
  box-shadow: 0 0 0.075em 0 currentColor;
}

.twitter-image-container {
  border-radius: 0.5rem;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.twitter-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.twitter-image-container:before {
  content: "";
  position: absolute;
  border-radius: inherit;
  border: 0.5px solid hsl(0, 3%, 43%);
  inset: 0px;
}

img {
  display: block;
}
