@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light-gray: 200deg 13% 95%;
    --light-blue: 224deg 95% 48%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: primary;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: white 5000s ease-in-out 0s;
}

.input-md {
  height: 2.5rem;
}

.btn {
  text-transform: none;
  height: 2.5rem;
  min-height: 2.5rem;
  border-radius: 0.5rem;
}

.btn:focus-visible {
  outline-color: hsl(var(--light-blue));
}

.btn.loading > span {
  color: white;
}

.btn.loading::before {
  border-bottom-color: white;
  border-right-color: white;
  animation: spin 2s linear infinite;
}

.btn-gradient {
  @apply border-0 bg-gradient-to-r from-primary to-secondary hover:brightness-110;
}

.btn-outline.btn-accent:hover {
  background-color: white;
  color: hsl(var(--light-blue));
  border-color: hsl(var(--light-blue));
  box-shadow: 0 0 0.075em 0 currentColor;
}
