.gradientBg {
  background: url("/images/SunsetPink.png");
}

/* Note: no straightforward implementation with tailwind */
.hero {
  background: linear-gradient(106.83deg, #ff3ec9 0.85%, #5239ce 103.97%);
}

p.coloredDigit {
  background: linear-gradient(153.79deg, #5a90e2 0%, #e93399 108.58%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

h2.coloredGradient {
  background: linear-gradient(90.42deg, #5791e3 34.8%, #e83298 65.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

button.raise {
  transition: ease-in-out 0.25s;
}

.raise:hover {
  box-shadow: 0 0.5em 0.5em -0.4em gray;
  transform: translateY(-0.25em);
}
