/* Note: no straightforward implementation with tailwind */
p.coloredDigit {
  background: linear-gradient(153.79deg, #5a90e2 0%, #e93399 108.58%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

h2.coloredGradient {
  background: linear-gradient(90.42deg, #5791e3 34.8%, #e83298 65.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
